//Font weights
$light: 100;
$regular: 400;
$bold: 600;

//Colors

//Blues
$blue: #336699;
$navy: #224466;
$pale: #9fc8f2;

//Earth Tones
$brown: #454546;
$dark-beige: #8f8d88;
$light-beige: #b5b1a9;
$beige: #dad5ca;

//Green
$green: #a5b233;

//Fonts
$knockout: 'Knockout50Welterweight';
$roboto: 'RobotoCondensedBold';


//Set Container
*{
	outline:none;
}
@media (min-width: 992px){
	.container{
		width:940px;
		padding-left: 0;
		padding-right: 0;
	}
	.row{
		margin:auto;
	}
}

@import "modules/all";