//iPhone
//All
@media only screen and (min-device-width : 320px) and (max-device-width : 568px){

	//Header
	.navbar{
		background-color: $navy;
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		.navbar-collapse{
			padding:0;
		}
	}
	.navbar-header{
		height:85px;
	}
	.navbar-brand{
		img{
			position: absolute;
			top: 0;
			max-width: 230px;
		}
	}
	//Banner
	.bx-caption{
		display: none;
	}

	//Home
	.info{
		section{
			a{
				&.btn{
					margin-bottom: 15px;
				}
			}
		}
	}
	.fifth{
		img{
			margin: auto;
		}
	}
	//Testimonials
	.testimonials{
		.first, .second{
			width:100%;
			padding-left:15px;
			padding-right: 15px;
		}
	}
	//contact
	.call-us{
		top: 90px;
		font-size: 20px;
		span{
			font-size: 30px;
		}
		div{
			margin-left: auto;
			font-size: 20px;
		}
	}
	.contact{
		margin-top: auto;
		padding-top: auto;
	}
	.form-horizontal{
		.form-group{
			margin:auto;
		}
	}
	.contact{
		.form-group{
			input[type="submit"]{
				padding: 5px 10px 10px 10px;
			}
		}
		.form{
			max-width: initial;
		}
	}
	.staff{
		.important-peeps{
			&:first-child, &:last-child{
				margin:auto;
				float:none;
				margin-bottom:10px;
			}
		}
		.higher-ups{
			.col-md-6{
				margin-top: 25px;
				margin-bottom: 5px;
			}
		}
	}
	.top-content{
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.testimonials{
		padding-top: 0px;
	}
	//Footer
	footer{
		.refer, .loyalty{
			max-width: initial;
		}
		.social{
			.map{
				background-repeat: repeat;
				background-color: #336699;
				margin-top: 15px;
			}
			.col-md-8{
				padding-left: 10px;
			}
			.col-md-4{
				&.col-xs-5{
					padding-left: 0;
				}
			}
			.icons{
				margin-top: 0px;
				padding-top: 0;
				position: relative;
				left: 15px;
				top: 10px;
			}
		}
		.footer{
			text-align: center;
			.link{
				float:none;
			}
		}
	}
	footer .perks .col-md-3{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
//Portrait{
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	footer{
		.social{
			.icons{
				top: -30px;
			}
			.map{
				margin-top: -25px
			}
		}
	}
}
//Landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){
	//Header
	.call-us{
		color: $pale;
	}
	//Testimonials
	.testimonials{
		.first, .second{
			width: 48%;
		}
	}
}